@import 'vars';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
}

.center {
    width: $widthSite;
    margin: 0 auto;
}


.header{
    background-color: $backBlock;
    padding: 20px 235px;
    display: flex;
    justify-content: space-between;

    &__left {
        display: flex;
        align-items: center;
        gap: 41px;
    }

    .logo:hover {
        transform : scale(1.1);
    }

    .search:hover {
        transform : scale(1.1);
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 34px;
    }

    .header__link-site:hover {
        transform : scale(1.1);
    }

    .header__menu:hover {
        transform: scale(1.1);
    }
}

.top-head {
    background:  #F8F3F4;
    padding: 60px 230px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__heading {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $colorSelectSite;
    }

    .breadcrumbs {
        display: flex;
        gap: 10px;

        &__link {
            color: #636363;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: normal;
        }

        &__link:hover {
            color: $colorSelectSite;
        }
        
        &__link_site {
            font-weight: 700;
            color: $colorSelectSite;
        }

        &__link_site:hover {
            text-shadow: 1px 1px 1px $colorText;
        }
    }
}

.top {
    display : flex;
    justify-content : space-between;
    background-color : #F1E4E6;
    margin-bottom : 65px;

    &__title {
        display : flex;
        align-items : center;
        text-transform : uppercase;
        margin-right : 331px;
    }

    &__line {
        margin-right : 16px;
    }

    .title {
        font-size : 48px;
        font-style : normal;
        font-weight : 900;
        line-height : normal;
    }

    .subtitle {
        font-size : 32px;
        font-style : normal;
        font-weight : 700;
        line-height : normal;
    }
        
    .colored__text {
        color : $colorSelectSite;
    }
}

.offers {
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    gap : 30px;
    margin-bottom : 96px;

    &__top {
        display : flex;
        gap : 30px;
    }
        
    &__item {
        position : relative;
        display : flex;
        justify-content : center;
        align-items : center;
    }
    
    &__img {
        width: 100%;
    }
        
    &__text {
        position : absolute;
        text-transform : uppercase;
    }
        
    .white__text {
        color : #FFF;
        text-align : center;
        font-size : 16px;
        font-style : normal;
        font-weight : 400;
        line-height : normal;
    }
        
    &__link {
        color : $colorSelectSite;
        font-size : 24px;
        text-align : center;
        font-style : normal;
        font-weight : 400;
        line-height : normal;
    }
        
    &__link:hover {
        color : #ee0827d0;
    }
}

.content__title {
    color : $subscribeText;
    font-size : 30px;
    font-style : normal;
    font-weight : 400;
    line-height : normal;
    text-align : center;
}
    
.content__subtitle {
    color : #9F9F9F;
    font-size : 14px;
    font-style : normal;
    font-weight : 400;
    line-height : normal;
    text-align : center;
}

.product-box-main {
    padding: 48px 230px;
    display: flex;
    flex-wrap: wrap;
    gap: $gapGrid;

    .product:hover .product__image {
        filter : brightness(0.5);
    }
        
    .product:hover .product__add {
        display : flex;
    }
        
    .product__add {
        position : absolute;
        top : 188px;
        left : 111px;
        border : #fff solid 1px;
        width : 139px;
        height : 44px;
        font-style : normal;
        font-weight : 400;
        font-size : 14px;
        line-height : 17px;
        display : none;
        align-items : center;
        justify-content : center;
        gap : 11px;
        color : #FFFFFF;
    }
        
    .product__add:hover {
        box-shadow : 0 0 5px #fff;
    }
        
    .product__add:hover svg path {
        fill : $colorSelectSite;
    }
}

.product {
    width: 360px;
    display: flex;
    flex-direction: column;
    position: relative;

    &__image {
        width: 100%;
    }

    &__content {
        background-color: #F8F8F8;
        padding: 24px 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__name {
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $colorText;
    }

    &__name:hover {
        text-shadow: 1px 1px 1px $colorText;
    }

    &__text {
        color: #5D5D5D;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
    }

    &__price {
        color: $colorSelectSite;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.content__btn {
    display : flex;
    justify-content : center;
    margin-bottom : 60px;

    .btn {
        color : $colorButton;
        font-size : 16px;
        font-style : normal;
        font-weight : 400;
        line-height : normal;
        padding : 14px 39px 15px 39px;
        background : #FFF;
        border : $colorSelectSite solid 1px;
        transition : all 0.3s;
    }
        
    .btn:hover {
        color : #fff;
        background-color : $colorButton;
    }
}

.features {
    background-color : $backBlock;
    display : flex;
    justify-content : center;
    gap : $gapGrid;
    padding-top : 104px;
    padding-bottom : 104px;

    &__item {
        width : 360px;
        display : flex;
        flex-direction : column;
        align-items : center;
    }
        
    &__img {
        margin-bottom : 25px;
    }
        
    &__img_sale {
        margin-bottom : 19px;
    }
        
    &__heading {
        color : $colorWhite;
        font-size : 20px;
        font-style : normal;
        font-weight : 400;
        line-height : 24px;
        margin-bottom : 16px;
    }
        
    &__desc {
        color : $colorWhite;
        text-align : center;
        font-size : 14px;
        font-style : normal;
        font-weight : 300;
        line-height : 17px;
        max-width : 360px;
    }
}
   
.slider__box {
    padding-top: 11px;
    padding-bottom: 42px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;

    .slider__arrow{
        padding: 8px;
        background-color: rgba(42, 42, 42, 0.15); 

        .slider__left:hover path{
            stroke: black;
        }

        .slider__right:hover path {
            fill: rgb(194, 15, 89);
        }
    }
   
}

.product__card {
    margin-top: -60px;
    position: relative;
    z-index: 1;
    width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;
    padding-bottom: 64px;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    margin-bottom: 129px;

    .section__name {
        color: $colorSelectSite;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 12px;
    }

    &-name {
        color: #4D4D4D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-top: 12px;
        margin-bottom: 48px;
    }

    &-text {
        color: #5E5E5E;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        max-width: 555px;
        margin-bottom: 32px;
    }

    &-price {
        color: #EF5B70;
        font-size: 24px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-bottom: 65px;
    }

    &-menu {
        margin-top: 65px;
        display: flex;
        gap:23px;
    }

    &-link {
        display: flex;
        align-items: center;
        gap: 9px;
        color: #6F6E6E;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 48px;
        transition: 0.3s;
    }

    &-link:hover {
        text-shadow: 1px 1px 1px $colorText;
    }

    &-link:hover svg path {
        stroke: $colorText;
    }

    &-button {
        display: flex;
        align-items: center;
        gap: 23px;
        padding: 16px 56px 16px 24px;
        border: 1px solid #FF6A6A;
        color: $colorButton;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: 0.3s;
    }

    &-button:hover {
        background-color: $colorSelectSite;
        color: #fff;
    }

    &-button:hover svg path {
        fill: #fff;
        transition: 0.3s;
    }
}

.product-box {
    display: flex;
    justify-content: center;
    gap: $gapGrid;
    margin-bottom: 128px;
}

.subscribe {
    display : flex;
    justify-content : space-around;
    align-items : center;
    padding : 87px;
    padding-bottom: 126px;
    background : url(img/subscribe_background.webp) no-repeat lightgray;

    .guide {
        max-width: 360px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;

        &__text {
            color: $subscribeText;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
    
            &_italic {
                color: $subscribeText;
                font-size: 20px;
                font-style: italic;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    &__box {
        display : flex;
        flex-direction : column;
        gap: 27px;
    }

    &__title {
        color : $subscribeText;
        text-align : center;
        font-size : 24px;
        font-style : normal;
        font-weight : 700;
        line-height : normal;
    }
        
    &__subtitle {
        color : $subscribeText;
        text-align : center;
        font-size : 18px;
        font-style : normal;
        font-weight : 400;
        line-height : normal;
    }

    form {
        display: flex;
        flex-direction: row;
    }

    .email__input {
        max-width : 256px;
        padding : 16px 64px 16px 22px;
        background-color : #E1E1E1;
        border-top-left-radius : 20px;
        border-bottom-left-radius : 20px;
        opacity : 0.6;
        border : none;
        outline : none;
        margin : 0;
    }
        
    .email__input::placeholder {
        color : $subscribeText;
        font-size : 14px;
        font-style : normal;
        font-weight : 400;
        line-height : 17px;
    }
        
    .sub_btn {
        max-width : 100px;
        padding : 15px 7px 15px 8px;
        border-top-right-radius : 20px;
        border-bottom-right-radius : 20px;
        background-color : $colorSelectSite;
        border : none;
        color : #FFF;
        text-align : center;
        font-size : 14px;
        font-style : normal;
        font-weight : 400;
        line-height : 17px;
        transition : 0.3s;
    }
        
    .sub_btn:hover {
        background-color: #f1afaf;
        color: #c73649;
    }
}

.contacts {
    background-color: $backBlock;
    padding: 24px 230px 23px 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
        color : $colorWhite;
        font-size : 16px;
        font-style : normal;
        font-weight : 400;
        line-height : normal;
        max-width : 332px;
    }
        
    .social__icons {
        display : flex;
        flex-direction : row;
        gap : 7px;
    }
        
    .contacts__icon {
        width : 32px;
        height : 32px;
        background-color : #FFF;
        display : flex;
        justify-content : center;
        align-items : center;
        transition : 0.3s;
    }
        
    .contacts__icon:hover {
        background-color : $colorSelectSite;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .center {
        width: 100%;
    }

    .header {
        width : 100%;
        padding-left: 32px;
        padding-right: 32px;
    }

    .top {
        padding-right: 33px;
        margin-bottom: 65px;
    }

    .photo {
        min-width: 48%;
    }
    .title {
        font-size: 44px;
        min-width: 283px;
    }

    .subtitle {
        font-size: 24px;
    }

    .offers {
        height: 303px;
        gap: 20px;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 110px;

        &__img {
            max-width: 100%;
        }
    }
    
    .content__header {
        margin-bottom: 73px;
    }
    
    .product-box-main {
        gap: 16px;
        padding-left: 2%;
        padding-right: 2%;
        margin-bottom: 33px;
    }

    .product {
        width: 48%;

        &__image {
            width: 100%;
        }
    }

    .features {
        flex-direction: column;
        align-items: center;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 64px;
    }

    .subscribe {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 48px;
        padding-left: 14%;
        padding-right: 14%;
        background-position: -230px center;
        background-size: cover;
        padding-top: 53px;
        padding-bottom: 140px;

        &__box {
            gap : 27px;
        }
    }
    
    .contacts {
        padding-left: 4%;
        padding-right: 4%;
    }
}
 
@media screen and (min-width: 320px) and (max-width: 767px) {
    .center {
        width : 100%;
    }
    .header {
        width : 100%;
        padding-left : 4%;
        padding-right : 4%;

        &__link-site {
            display : none;
        }
    }
    
    .top {
        padding : 41% 0%;
        margin-bottom : 64px;

        .photo {
            display : none;
            justify-content : center;
        }

        &__title {
            width : 100%;
            margin-right : 0;
            justify-content : center;
        }

        .title {
            font-size : 38px;
        }

        .subtitle {
            font-size : 20px;
        }
    }
   
    .offers {
        width : 100%;
        padding-left : 4%;
        padding-right : 4%;
        margin-bottom : 64px;

        &__top {
            justify-content : center;
            flex-wrap : wrap;
        }
        &__item, &__img {
            width : 100%;
        }
        .img__long {
            display : none;
        }
        .item__long {
            background-image : url(img/offers_accesories.avif);
            background-position : center center;
            background-size : cover;
            width : 100%;
            height : 111px;
        }
    }
   
    .content__header {
        margin-bottom : 64px;
    }

    .product-box-main {
        padding-left : 2%;
        padding-right : 2%;
        gap : 16px;
        margin-bottom : 41px;
    }

    .product {
        width : 100%;

        &__image {
            width : 100%;
        }
    }
    
    .content__btn {
        margin-bottom : 85px;
    }
    .features {
        flex-direction : column;
        align-items : center;
        gap : 46px;
        padding-top : 48px;
        padding-bottom : 81px;

        &__item {
            width : 93%;
        }
    }
    
    .subscribe {
        flex-direction : column;
        flex-wrap : wrap;
        gap : 59px;
        padding-left : 2%;
        padding-right : 2%;
        background-position : -500px;
        background-size : cover;
        padding-top : 53px;
        padding-bottom : 140px;

        .guide__text {
            font-size : 18px;
        }
        &__subtitle {
            font-size : 14px;
        }
        &__box {
            gap : 22px;
        }
        .email__input {
            padding : 16px 30px 16px 21px;
        }
    }
    
    .contacts {
        flex-direction : column-reverse;
        gap : 40px;
        padding-top : 43px;
        padding-bottom : 9px;
        padding-left : 10%;
        padding-right : 10%;
    }
}
